---
layout: layout.vto
title: Set Card Game
---

<main id="app" class="flex min-h-screen flex-col items-center justify-center p-4 overflow-x-hidden">
</main>

<script type="module" src="/game/main.js"></script>
